<div class="container">

  <header>

    <h1>Clientes Cadastrados</h1>

    <nav>
      <a routerLink="/" class="voltar">
        Voltar
      </a>
    </nav>

  </header>

  <section class="card">

    <h2>Clientes Cadastrados</h2>

    <div class="tabela-container">

      <table>

        <thead>

          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>CPF</th>
            <th>UF</th>
            <th>Município</th>
            <th>Ações</th>
          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let cliente of clientes">

            <td>
              {{ cliente.nome }}
            </td>

            <td>
              {{ cliente.email }}
            </td>

            <td>
              {{ cliente.cpf }}
            </td>

            <td>
              {{ cliente.uf }}
            </td>

            <td>
              {{ cliente.municipio }}
            </td>

            <td class="acoes">

              <button
                type="button"
                class="editar"
                (click)="editar(cliente)">
                Editar
              </button>

              <button
                type="button"
                class="excluir"
                (click)="excluir(cliente.id)">
                Excluir
              </button>

            </td>

          </tr>

          <tr *ngIf="clientes.length === 0">

            <td colspan="6" class="sem-clientes">
              Nenhum cliente cadastrado.
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </section>

</div>